@import '../../config';

.App {
  margin: 0 auto 120px;
  max-width: 795px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  .Main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .RightColumn {
      display: flex;
      flex-direction: column;

      & > * {
        margin-bottom: 20px;
      }
    }
  }
}
