// Colors
$main-bg-color: #f3f7fa;
$true-white-color: #ffffff;
$primary-color: #2196f3;
$secondary-color: #f1fcff;
$dark-gray-color: #4a4a4a;
$light-gray-color-1: #a0b0b9;
$light-gray-color-2: #dfe5ec;
$light-blue-color: #9abbce;
$light-blue-color-2:#64b5f5;
$orange-color: #ff6d00;
$light-orange-color: #ff8a32;

// Fonts
$font-stack:'Open Sans', sans-serif;

// Columns
$right-column-width: 503px;

// Borders
$border-radius-default: 5px;
$border-radius-small: 2px;